<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="it.albx79.diaspora" android:versionCode="1" android:versionName="0.1-SNAPSHOT">
  
  <uses-sdk android:minSdkVersion="10"/>

  <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@style/app_theme">
    <activity android:name="it.albx79.diaspora.activities.ClustersManager">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    
    <activity android:name="it.albx79.diaspora.activities.SystemViewer">
    </activity>
    
  </application>

</manifest>

